<!-- <div class="container-fluid">
  <div class="row flex-nowrap">
    <div class="col-auto col-md-2 col-xl-2 px-sm-2 px-0" style="background-color: #c1885b;">
      <div class="d-flex flex-column align-items-center align-items-sm-start px-3 pt-2 text-white min-vh-100">
        <a href="/admin" class="d-flex align-items-center pb-3 mb-md-0 me-md-auto text-white text-decoration-none">
          <span class="fs-4 fw-bold d-none d-sm-inline">Menu</span>
        </a>
        <ul class="nav nav-pills flex-column mb-sm-auto mb-0 align-items-center align-items-sm-start" id="menu">
          <li class="nav-item" *ngFor="let item of menu" (click)="changeTitle(item.title)">
            <a [routerLink]="item.url" class="nav-link align-middle px-0" style="color: whitesmoke;">
              <i class="{{item.icon}}"></i>
              <span class="ms-1 d-none d-sm-inline fw-bold fs-6">
                {{item.title}}
              </span>
            </a>
          </li>
        </ul>
      </div>
    </div>
    <div class="col p-0 m-0">
      <div class="row">
        <div class="col-md-12 p-0">
          <p>
            <mat-toolbar color="primary">
              <button mat-icon-button class="example-icon" aria-label="Example icon-button with menu icon">
                <mat-icon>menu</mat-icon>
              </button>
              <span>My App</span>
              <span class="example-spacer"></span>
              <button mat-icon-button class="example-icon favorite-icon"
                aria-label="Example icon-button with heart icon">
                <mat-icon>favorite</mat-icon>
              </button>
              <button mat-icon-button class="example-icon" aria-label="Example icon-button with share icon">
                <mat-icon>share</mat-icon>
              </button>
            </mat-toolbar>
          </p>
        </div>
        <div class="col-md-12 p-0">
            <h3>{{title}}</h3>
            <router-outlet></router-outlet>
        </div>
      </div>
    </div>
  </div>
</div>
<ngx-spinner bdColor="rgba(195,157,59,0.8)" size="medium" color="#5f2525" type="square-jelly-box" [fullScreen]="true">
  <p style="color: #5f2525"> Loading... </p>
</ngx-spinner> 
-->

<!-- <app-nav></app-nav> -->