<div class="row mt-4 mb-2 p-4">
  <div class="col-md-3 hvr-grow" *ngFor="let item of data; let i=index">
    <div class="card w-100 text-center border-0">
      <a [routerLink]="'show-product/'+item.id">
        <img [src]="'assets/pub/'+item.imagen" class="card-img-top" alt="...">
      </a>
      <div class="card-body">
        <h5 class="card-title mb-0 fw-bold ff-emoda">{{item.titulo}}</h5>
        <p class="card-text ff-emoda">
          {{item.colores}}
        </p>
      </div>
    </div>
  </div>
</div>
