<div class="footer w-100">
  <div class="footer-container col-12 d-flex">
    <div class="w-100">
      <div
        class="col-sm-10 col-md-6 mx-auto img-footer d-flex justify-content-center align-items-center"
      >
        <img
          src="/assets/images/logo.jpeg"
          alt="Logo EMODA"
          style="max-width: 100%"
        />
      </div>
    </div>
    <div class="w-100 info-footer">
      <div class="info-footer-container">
        <h3 class="contact" translate>landingPage.contactenos</h3>
        <div class="contact-group">
          <span translate>landingPage.celular</span>
          <p class="text-center">
            <i class="bi bi-phone"></i>
            <a style="margin-left: 5px" href="tel:+51971140664"
              >+51 971 140 664</a
            >
          </p>
        </div>
        <div class="contact-group">
          <span translate>landingPage.email</span>
          <p class="text-center">
            <i class="bi bi-envelope"></i>
            <a
              href="mailto:contacto@emodaalpacas.com.pe"
              style="margin-left: 5px"
              >contacto@emodaalpacas.com.pe</a
            >
          </p>
        </div>
      </div>
    </div>
  </div>
</div>
