<div class="row mb-2">
  <div class="col-md-3 hvr-grow" *ngFor="let item of data; let i=index">
    <div class="card w-100 h-100 text-center border-0">
      <a [routerLink]="'show/'+item.id">
        <img src="{{back}}/{{item.imagenes[0].url}}" class="card-img-top" alt="..." loading="lazy">
      </a>
      <div class="card-body">
        <h5 class="card-title mb-0 fw-bold ff-emoda">{{item.name}}</h5>
        <!-- <p class="card-text ff-emoda">
          {{item.colors}}
        </p> -->
      </div>
    </div>
  </div>
</div>