<div class="row">
  <div class="col-md-2 mb-4 mt-4 pt-4">
    <div class="list-group" id="list-tab">
      <h3 class="list-group-item border-0 mb-0 ff-arial fw-bold">Categorías</h3>
      <button *ngFor="let categoria of categorias" (click)="changeCategory(categoria.id)"
        class="list-group-item list-group-item-action border-0 hvr-grow">
        {{categoria.name}} 
        <span *ngIf="categoria.categoria" class="text-primary">
          ({{categoria.categoria.name}})
        </span>
      </button>
    </div>
  </div>
  <div class="col-md-10">
    <app-cards-products *ngIf="products.length>0"  [data]="products"></app-cards-products>
  </div>
</div>