<section class="images">
  <img src="/assets/images/wallpaper.jpeg" style="max-width: 100%" alt="" />
</section>
<!-- <h1 class="mt-5 mb-5 pt-5 ff-cl ff-italic text-center">Favoritos</h1> -->
<app-section-cards [data]="data1" class="mb-5"></app-section-cards>
<div class="row mt-5 mb-5">
  <div class="col-md-2"></div>
  <div class="col-md-8 text-center">
    <h1 class="card-title mb-4 ff-arial" translate>landingPage.title</h1>
    <p class="ff-arial" translate>landingPage.description</p>
  </div>
  <div class="col-md-2"></div>
</div>
<app-section-cards [data]="data2" class="mb-5"></app-section-cards>
